.logo-container {
  display: flex;
  text-decoration: none;
  color: inherit;
}

.logo-img {
  width: auto;
  height: 50px;
  z-index: 1001;
}

.logo-title {
  padding: 5px;
}

.logo-dot {
  color: var(--gold);
  margin-left: 2px;
}
